{% assign user = site.data.users[40] %}
<div class="header py-4">
	<div class="container">
		<div class="d-flex">
			<a class="header-brand" href="{{ site.baseurl }}/index.html">
				<img src="{{ site.baseurl }}/assets/images/logo.png" style="height: 2.5rem;" class="header-brand-img" alt="marxynet logo">
			</a>

			<div class="d-flex order-lg-2 ml-auto row">
				<div class="nav-item d-none d-md-flex">
					<a href="https://mixer.com/Marxy" class="btn btn-sm btn-outline-info" target="_blank">Follow Me On Mixer</a>
				</div>
			</div>
		</div>
	</div>
</div>
