<div class="row border">
    <div class="col-4">
        {{ include.name }}
    </div>
    <div class="col-2 text-center">
        K
    </div>
    <div class="col-2 text-center">
        A
    </div>
    <div class="col-2 text-center">
        D
    </div>
    <div class="col-2 text-center">
        HLTV
    </div>
</div>
<div class="row border">
    <div class="col-4">
        Player 1
    </div>
    <div class="col-2 text-center">
        27
    </div>
    <div class="col-2 text-center">
        2
    </div>
    <div class="col-2 text-center">
        13
    </div>
    <div class="col-2 text-center">
        1.55
    </div>
</div>
<div class="row border">
    <div class="col-4">
        Player 1
    </div>
    <div class="col-2 text-center">
        27
    </div>
    <div class="col-2 text-center">
        2
    </div>
    <div class="col-2 text-center">
        13
    </div>
    <div class="col-2 text-center">
        1.55
    </div>
</div>
<div class="row border">
    <div class="col-4">
        Player 1
    </div>
    <div class="col-2 text-center">
        27
    </div>
    <div class="col-2 text-center">
        2
    </div>
    <div class="col-2 text-center">
        13
    </div>
    <div class="col-2 text-center">
        1.55
    </div>
</div>
<div class="row border">
    <div class="col-4">
        Player 1
    </div>
    <div class="col-2 text-center">
        27
    </div>
    <div class="col-2 text-center">
        2
    </div>
    <div class="col-2 text-center">
        13
    </div>
    <div class="col-2 text-center">
        1.55
    </div>
</div>
<div class="row border">
    <div class="col-4">
        Player 1
    </div>
    <div class="col-2 text-center">
        27
    </div>
    <div class="col-2 text-center">
        2
    </div>
    <div class="col-2 text-center">
        13
    </div>
    <div class="col-2 text-center">
        1.55
    </div>
</div>
<div class="row border">
    <div class="col-4">
        Total
    </div>
    <div class="col-2 text-center">
        27
    </div>
    <div class="col-2 text-center">
        2
    </div>
    <div class="col-2 text-center">
        13
    </div>
    <div class="col-2 text-center">
        1.55
    </div>
</div>