<div class="row border">
    <div class="col-4">
        <small>{{ include.team.Name }}</small>
    </div>
    <div class="col-2 text-center">
        K
    </div>
    <div class="col-2 text-center">
        A
    </div>
    <div class="col-2 text-center">
        D
    </div>
    <div class="col-2 text-center">
        HLTV
    </div>
</div>
{% for id in include.team.SteamIDs %}
    {% assign sID = id | downcase %}
    {% assign player = include.players[sID] %}
    <div class="row border">
        <div class="col-4">
            <a href="/players/{{player.UID}}">{{player.Name}}</a>
        </div>
        <div class="col-2 text-center text-muted">
            {{player.Kills}}
        </div>
        <div class="col-2 text-center text-muted">
            {{player.Assists}}
        </div>
        <div class="col-2 text-center text-muted">
            {{player.Deaths}}
        </div>
        <div class="col-2 text-center text-muted">
            {{player.HltvRating}}
        </div>
    </div>
{% endfor %}
<div class="row border">
    <div class="col-4">
        Total
    </div>
    <div class="col-2 text-center">
        {{ include.team.Kills }}
    </div>
    <div class="col-2 text-center">
        {{ include.team.Assists }}
    </div>
    <div class="col-2 text-center">
        {{ include.team.Deaths }}
    </div>
    <div class="col-2 text-center">
        {{ include.team.HltvRating }}
    </div>
</div>