<li class="list-separated-item row-clickable" data-url="/players/{{include.player.UID}}">
        <div class="row align-items-center">
            <div class="col-3 offset-1 align-self-center">
                <span class="avatar avatar-xl d-block" style="background-image: url({{ site.data.playerAvatars[include.player.UID] }})"></span>
            </div>
            <div class="col text-center align-self-center">
                <div>
                    <a href="/players/{{include.player.UID}}" class="text-inherit">{{ include.player.Name }}</a>
                </div>
            </div>
    </div>
</li>
