// Custom CSS stuffs
.dropdown-menu {
	background-color: $button-color !important;
}

.dropdown-divider {
	border-top: 1px solid $border-color;
}

.btn {
	background-color: $button-color !important;
}

.btn:hover {
	background-color: $button-hover-color !important;
}

.customLI {
    display: block;
	float: left;
	border: 1px solid $border-color;
	margin-top: -1px;
	width: 100%;
	@media (min-width: 576)
	{
		width: 50%;
	}
	@media (min-width: 768)
	{
		width: 33.33%;
	}
	@media (min-width: 992px)
	{
		width: 25%;
	}
}

.mycontent {
	background: $body-content !important;
}

.normalBackgroundColor {
	background: $body-bg !important;
}

.row-clickable {
    background: $body-content;
}

.row-clickable:hover {
    cursor: pointer;
    background: $hover-color;
}

.example {
	padding: 1.5rem;
	border: 1px solid $border-color;
	border-radius: 3px 3px 0 0;
	font-size: px2rem(15px);
}

.example-bg {
	background: $body-bg;
}

.example + .highlight {
	border-top: none;
	margin-top: 0;
	border-radius: 0 0 3px 3px;
}

.highlight {
	margin: 1rem 0 2rem;
	border: 1px solid $border-color;
	border-radius: 3px;
	font-size: px2rem(15px);
	max-height: 40rem;
	overflow: auto;
	background: #fcfcfc;
}

.highlight pre {
	margin-bottom: 0;
	background-color: transparent;
}

.example-column {
	margin: 0 auto;

	>.card:last-of-type {
		margin-bottom: 0;
	}
}

.example-column-1 {
	max-width: 20rem;
}

.example-column-2 {
	max-width: 40rem;
}

//
// Ko-fi
//
img.kofiimg{
    display: initial!important;
    vertical-align:middle;
    height:13px!important;
    width:20px!important;
    padding-top:0;
    padding-bottom:0;
    border:none;
    margin-top:0;
    margin-right:5px;
    margin-left:0;
    margin-bottom:4px;
    content:url('https://ko-fi.com/img/cuplogo.svg')
}
.kofiimg:after{
    vertical-align:middle;
    height:25px;
    padding-top:0;
    padding-bottom:0;
    border:none;
    margin-top:0;
    margin-right:6px;
    margin-left:0;
    margin-bottom:4px;
    content:url('https://ko-fi.com/img/whitelogo.svg')
}
.btn-container{
    display:inline-block!important;
    white-space:nowrap;
    min-width:160px
}
span.kofitext{
    color:#fff !important;
    letter-spacing: -0.15px !important;
    text-wrap:none;
    vertical-align: middle;
    line-height:33px !important;
    padding:0;
    text-align: center;
    text-decoration: none !important;
     text-shadow: 0 1px 1px rgba(34, 34, 34, 0.3);
}
.kofitext a{
    color:#fff !important;
    text-decoration: none !important;
}
.kofitext a:hover{
    color:#fff !important;
    text-decoration:none
}
a.kofi-button{
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
    line-height:32px!important;
    min-width:150px;
    display:inline-block!important;
    background-color:#46b798;
    padding:2px 11px !important;
    text-align:center !important;
    border-radius:3px;
    color:#fff;
    cursor:pointer;
    overflow-wrap:break-word;
    vertical-align:middle;
    border:0 none #fff !important;
    font-family:'Lato',Helvetica,Century Gothic,sans-serif !important;
    text-decoration:none;
    text-shadow:none;
    font-weight:400!important;
    font-size:14px !important
}
a.kofi-button:visited{
    color:#fff !important;
    text-decoration:none !important
}
a.kofi-button:hover{
    opacity:.85;
    color:#f5f5f5 !important;
    text-decoration:none !important
}
a.kofi-button:active{
    color:#f5f5f5 !important;
    text-decoration:none !important
}
.kofitext img.kofiimg {
    height:10px!important;
    width:20px!important;
    display: initial;
    -webkit-filter: drop-shadow(0 1px 1px rgba(34, 34, 34, 0.3));
}
