---
layout: default
type: Match
---

{% include matchscorecolors.html AWins=page.TeamA.RoundWins BWins=page.TeamB.RoundWins %}

<div class="container">
	<div class="row row-cards">
		<div class="col-lg-4 order-lg-1">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-12 text-center h-5 mb-1">
							<h3>{{page.TeamA.Name}}</h3>
						</div>
						<div class="col-12 mt-2 mb-2 text-center">
							<small>vs.</small>
						</div>
						<div class="col-12 text-center h-5 mt-1 mb-3">
							<h3>{{page.TeamB.Name}}</h3>
						</div>
					</div>
					<div class="row mt-0 mb-0">
						<div class="col text-center">
							<h1 class="mb-0"><span class="{{aclass}}">{{page.TeamA.RoundWins}}</span> - <span class="{{bclass}}">{{page.TeamB.RoundWins}}</span></h1>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="text-center">
						{{page.Month}}/{{page.Day}}/{{page.Year}}</br>
						{{page.Hour}}:00 EST
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body text-center">
                    <h3 class="card-text">{{page.Map}}</h3>
				</div>
				<img class="card-img-bottom" src="http://www.marxy.net/assets/images/maps/{{page.Map}}.jpg" alt="{{page.Map}}">
			</div>
		</div>

		<div class="col-8">
			<div class="row mb-1">
					{% assign chart_key = "hltv_" | append: page.UID %}
					<div class="card col-12">
						<div class="card-header">
							<h3 class="card-title">HLTV Ratings</h3>
						</div>
						<div class="card-body row no-gutters">
							<div class="col-12" id="{{chart_key}}" style="height: 20rem"></div>
						</div>
					</div>
					{% include js-charts.html id=chart_key data=chart_key %}
			</div>
			<div class="row pl-3 pr-3 pt-4 pb-4 border">
    			<div class="col-5">
					{% include miniscoreboard.html team=page.TeamA players=page.Players %}
				</div>
				<div class="col-2 text-center align-self-center">
					<h2>VS.</h2>
				</div>
    			<div class="col-5">
					{% include miniscoreboard.html team=page.TeamB players=page.Players %}
				</div>
			</div>
		</div>
	</div>
</div>