---
layout: default
title: Homepage
menu: index
---


<div class="container">

	{% include page-title.html title="Global Statistics" %}

	<div class="row row-cards">

		<div class="col-6 col-sm-4 col-lg-2">
			{% assign playerCount = site.data.players | size %}
			{% include cards/stats-2.html number=playerCount title="Players" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% assign matchCount = site.data.matches | size %}
			{% include cards/stats-2.html number=matchCount title="Matches" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-2.html number="4.1K" title="Kills" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html number=412 title="Headshots" percentage=20 %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-2.html number="14K" title="Damage" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-2.html number=52 title="Team Kills" %}
		</div>

		{% include cards/map-world.html %}
	</div>
</div>
