---
layout: default
title: Homepage
menu: index
---


<div class="container">

	{% include page-title.html title="Global Statistics" %}

	<div class="row row-cards">

		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-2.html number=59 title="Players" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-2.html number=45 title="Matches" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-2.html number=4125 title="Kills" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html number=412 title="Headshots" percentage=20 %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-2.html number=14025 title="Damage" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-2.html number=52 title="Team Kills" %}
		</div>

		{% include cards/map-world.html %}
	</div>
</div>
