---
title: Matches
layout: default
menu: matches
permalink: matches
---

{% include clickable-row.html %}

<div class="container">
	{% include page-title.html title="Matches" %}

	<div class="row row-clickable h-7 border" data-url="testing">
        <div class="col-2 align-self-center">
            25th @ 14:00
        </div>
        <div class="col text-right align-self-center">
            Team A
        </div>
        <div class="col-1 text-center align-self-center">
            <span class="text-blue">15</span> - <span class="text-blue">15</span>
        </div>
        <div class="col text-left align-self-center">
            Team B
        </div>
        <div class="col-2 text-right align-self-center">
            Cobblestone
        </div>
    </div>
	<div class="row row-clickable h-7 border" data-url="#">
        <div class="col-2 align-self-center">
            2nd @ 4:00
        </div>
        <div class="col text-right text-truncate align-self-center">
            Team ATeam ATeam ATeam ATeam ATeam ATeam ATeam ATeam ATeam ATeam ATeam ATeam ATeam ATeam A
        </div>
        <div class="col-1 text-center align-self-center">
            <span class="text-blue">16</span> - <span class="text-blue">1</span>
        </div>
        <div class="col text-left align-self-center">
            Team B
        </div>
        <div class="col-2 text-right align-self-center">
            Dust II
        </div>
        {% comment %}
		<table class="table">
            <caption>February, 2018</caption>
            <tbody>
                <tr class="clickable-row" data-url="/matches/2018-02-25_14_de_cbble_pug">
                    <td style="width: 10%;" class="font-weight-bold">25th @ 14:00</td>
                    <td style="text-align: right;width: 25%">Team ism</td>
                    <td style="text-align: center;width: 8%"><span class="text-blue">15</span> - <span class="text-blue">15</span></td>
                    <td style="width: 25%">Team Mio</td>
                    <td style="width: 15%" class="infoFont">Cobblestone</td>
                </tr>

                <tr class="clickable-row" data-url="/matches/2018-02-25_14_de_cbble_pug">
                    <td style="width: 10%;" class="font-weight-bold">25th @ 14:00</td>
                    <td style="text-align: right;width: 25%">Team ism</td>
                    <td style="text-align: center;width: 8%"><span class="text-green">16</span> - <span class="text-red">14</span></td>
                    <td style="width: 25%">Team Mio</td>
                    <td style="width: 15%" class="infoFont">Cobblestone</td>
                </tr>

                <tr class="clickable-row" data-url="#">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2">
                                25th @ 14:00
                            </div>
                            <div class="col-lg-1">
                                25th @ 14:00
                            </div>
                            <div class="col-lg-1">
                                25th @ 14:00
                            </div>
                            <div class="col-lg-1">
                                25th @ 14:00
                            </div>
                            <div class="col-lg-1">
                                25th @ 14:00
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
        {% endcomment %}
	</div>
</div>