---
title: Players
layout: default
menu: players
permalink: players
---

<div class="container">

	{% include page-title.html title="Players" %}

    {% assign cutoff = site.data.players | size | divided_by: 4.0 | ceil %}

	<div class="row row-cards row-deck no-gutters">
        <div class="card col-12">
        <div class="row row-cards row-deck no-gutters mb-0">
		<div class="col-sm-6 col-lg-3">
            <ul class="list-unstyled border-right mb-0">
                {% for player in site.data.players limit: cutoff %}
                    {% include userli.html player=player %}
                {% endfor %}
            </ul>
		</div>

		<div class="col-sm-6 col-lg-3">
            <ul class="list-unstyled border-right mb-0">
                {% for player in site.data.players limit: cutoff offset: cutoff %}
                    {% include userli.html player=player %}
                {% endfor %}
            </ul>
		</div>

        {% assign cutoff2 = cutoff | times: 2 %}
		<div class="col-sm-6 col-lg-3">
            <ul class="list-unstyled border-right mb-0">
                {% for player in site.data.players limit: cutoff offset: cutoff2 %}
                    {% include userli.html player=player %}
                {% endfor %}
            </ul>
		</div>

        {% assign cutoff3 = cutoff | times: 3 %}
		<div class="col-sm-6 col-lg-3">
            <ul class="list-unstyled border-bottom mb-0">
                {% for player in site.data.players offset: cutoff3 %}
                    {% include userli.html player=player %}
                {% endfor %}
            </ul>
		</div>
	</div>
    </div>
    </div>
</div>

{% include clickable-row.html %}
