---
title: Players
layout: default
menu: players
---

<div class="container">

	{% include page-title.html title="Players" %}

    {% assign cutoff = site.data.users | size | divided_by: 4 | ceil %}

	<div class="row row-cards row-deck">
		<div class="col-sm-6 col-lg-3">
            <ul class="list-unstyled list-separated">
                {% for user in site.data.users limit: cutoff %}
                    {% include userli.html user=user %}
                {% endfor %}
            </ul>
		</div>

		<div class="col-sm-6 col-lg-3">
            <ul class="list-unstyled list-separated">
                {% for user in site.data.users limit: cutoff offset: cutoff %}
                    {% include userli.html user=user %}
                {% endfor %}
            </ul>
		</div>

        {% assign cutoff2 = cutoff | times: 2 %}
		<div class="col-sm-6 col-lg-3">
            <ul class="list-unstyled list-separated">
                {% for user in site.data.users limit: cutoff offset: cutoff2 %}
                    {% include userli.html user=user %}
                {% endfor %}
            </ul>
		</div>

        {% assign cutoff3 = cutoff | times: 3 %}
		<div class="col-sm-6 col-lg-3">
            <ul class="list-unstyled list-separated">
                {% for user in site.data.users offset: cutoff3 %}
                    {% include userli.html user=user %}
                {% endfor %}
            </ul>
		</div>
	</div>
</div>
